.project {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #222222; 
  
    &-text {
        width: max-content;
        height: max-content;
        display: block;
        position: absolute;
        color: #8997a3;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 28px;
        font-weight: 300;
        text-align: left;
        margin-left: 150px;
        margin-top: 30px;
    }
}


.main {
    &-name {
        display: block;
        margin-top: 70px;
        margin-left: 490px;
    }

    &-input {
        display: flex;
        width: 800px;
        margin-top: -25px;
        margin-left: 500px;
        justify-content: space-between;
    }
}

.textarea {
    width: 800px;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 36px;
    cursor: default;
}

.mat-form-field {
    width: 600px;
}

.add-button {
    display: flex;
    width: 490px;
    margin-left: 50px;
    align-items: center;
}

.main-tasks {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 500px;
}

@mixin box() {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .container {
    @include box();

    &-done {
      @include box();
      margin-left: 300px;
    }
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }



@media screen and (max-width: 500px) {
    .header-text {
        margin-left: 70px;
    }
}
