.project {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #222222; 
  
    &-text {
        width: max-content;
        height: max-content;
        display: block;
        position: absolute;
        color: #8997a3;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 28px;
        font-weight: 300;
        text-align: left;
        margin-left: 150px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .header-text {
        margin-left: 70px;
    }
}
