<div class="project">
  <div class="header">
    <div class="header-text">ToDo List</div>
  </div>
  <div class="main-name">
    <textarea class="textarea" wrap="off" maxlength="40">ToDo List</textarea>
  </div>
  <div class="main-input">
    <!-- <input class="input" type="text" placeholder="New Task">
    <button class="button">Add</button> -->
    <mat-form-field>
      <input matInput placeholder="New Task" maxlength="200">
      <!-- <button matButton ></button> -->
    </mat-form-field>
  </div>

</div>