.add-new-list {
    display: block;
    margin-top: 70px;
    margin-left: 490px;
}

.mat-form-field {
    width: 800px;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 36px;
    cursor: default;
}