  <div cdkDropListGroup class="list-tasks" *ngIf="tasks$ | async as tasks">
    <div class="container" >
      <h2>Tasks</h2>
      <!-- <div class="example-box" *ngFor="let item of tasks$ | async" cdkDrag>{{item}}</div> -->
      <div
        cdkDropList
        #allItemsList="cdkDropList"
        [cdkDropListData]="tasks"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="container-done">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[allItemsList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
  