.main-input {
    display: flex;
    width: 800px;
    margin-top: -25px;
    margin-left: 500px;
    justify-content: space-between;
}

.add-button {
    display: flex;
    width: 490px;
    margin-left: 50px;
    align-items: center;
}
